{% extends "admin.base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
        </div>
        <div class="text-right">
            <a href="{{ path('logout') }}"> se déconnecter </a>
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.categories') }}">Catégories</a>
                    </li>
                        
                </ul>
            </div>
        </nav>        
    </div>
{% endblock %}
{% block body %}{% endblock %}                                                                      
{% block footer %}
{% endblock %}
{% block javascripts %}{% endblock %}